<form id="msform" action="/save/{{currentProjectID}}" method="POST">
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active">Log</li>
        <li>Plan</li>
        <li>Production</li>
        <li>Upload</li>
    </ul>
    <!-- fieldsets -->
    <fieldset>
        <h2 class="fs-title">Project Log</h2>
        <h3 class="fs-subtitle">Intial Project Details</h3>
        <input type="text" name="projectName" placeholder="Project Name" value="{{project.projectName}}"/>
        <input type="text" name="projectManager" placeholder="Project Manager Name" value="{{project.projectManager}}" autocomplete="name"/>
        <input type="tel" name="managerNum" placeholder="Contact Number" value="{{project.managerNum}}" autocomplete="mobile"/>
        <input type="email" name="email" placeholder="example@example.com" value="{{project.email}}" autocomplete="email"/>
        <input type="text" name="teamMembers" placeholder="Team Members" value="{{project.teamMembers}}"/>
        <input type="number" min="0.00" step="0.01" name="budget" placeholder="Budget" value="{{project.budget}}"/>
        <input type="email" name="approverEmail" placeholder="Approver's Email" value="{{project.approverEmail}}"/>
        <input type="button" name="next" class="next action-button" value="Next"/>
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Project Plan</h2>
      <a href="/download/templates" class="no-underline">
        <input type="button" name="templates" class="download-button" value="Download Planning Templates"/>
      </a>
      <br>
      <a href="/download/guides" class="no-underline">
        <input type="button" name="guides" class="download-button" value="Download Guides and Manuals"/>
      </a>
      <br>
      <a href="/download/suppliers" class="no-underline">
        <input type="button" name="suppliers" class="download-button" value="Download Suppliers Details"/>
      </a>
      <br>
      <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
      <input type="button" name="next" class="next action-button" value="Next"/>
    </fieldset>
    <fieldset>
        <h2 class="fs-title">Project Production</h2>
        <h3 class="fs-subtitle">Have you done the following?</h3>
        <div class="well">
          <ul id="check-list-box" class="list-group checked-list-box">
            <!-- TODO: SORT THIS SHIT OUT -->
            <li name="subtitles" class="list-group-item active" >Subtitles</li>
            <li name="animate" class="list-group-item {% if project.checkedItems.animate %} active {% endif %}" data-checked="{{project.checkedItems.animate}}">Anitmated UCL ident on front and end of video</li>
            <li name="cma" class="list-group-item {% if project.checkedItems.cma %} active {% endif %}" data-checked="{{project.checkedItems.cma}}">CMA Disclaimer</li>
            <li name="credits" class="list-group-item {% if project.checkedItems.credits %} active {% endif %}" data-checked="{{project.checkedItems.credits}}">Accurate credits</li>
            <li name="music" class="list-group-item {% if project.checkedItems.music %} active {% endif %}" data-checked="{{project.checkedItems.music}}">Accurately copyrighted music</li>
            <li name="fonts" class="list-group-item {% if project.checkedItems.fonts %} active {% endif %}" data-checked="{{project.checkedItems.fonts}}">UCL fonts used in GFX</li>
            <li name="releaseForms" class="list-group-item {% if project.checkedItems.releaseForms %} active {% endif %}" data-checked="{{project.checkedItems.releaseForms}}">All interviewees have signed release forms</li>
          </ul>
        </div>
        <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
        <input type="button" name="next" class="next action-button" value="Next"/>
    </fieldset>
    <fieldset>
        <h2 class="fs-title">Approve and Upload</h2>
        <h3 class="fs-subtitle">I confirm that</h3>
        <ul id="check-list-box2" class="list-group checked-list-box">
          <li name="necessarySteps" class="list-group-item {% if project.checkedItems.necessarySteps %} active {% endif %}" data-checked="{{project.checkedItems.necessarySteps}}">I have completed the necessary steps</li>
          <li name="accurateInfo" class="list-group-item {% if project.checkedItems.accurateInfo %} active {% endif %}" data-checked="{{project.checkedItems.accurateInfo}}">The information provided is accurate</li>
        </ul>
        <input type="text" name="videoURL" placeholder="URL to final video" value="{{project.videoURL}}"/>
        <form action="/send/{{project.approverEmail}}/{{project.projectManager}}/{{project.videoURL}}/{{project.email}}" method="POST">
          <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
          <input type="submit" class="submit submit-button" value="Submit to approver"/>
        </form>
    </fieldset>
    <fieldset>

    </fieldset>
</form>
