<form id="msform" action="/project/{{project.id}}/save" method="POST">
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active">Log</li>
        <li>Plan</li>
        <li>Production</li>
        <li>Upload</li>
    </ul>
    <!-- fieldsets -->
    <fieldset>
        <h2 class="fs-title">Project Log</h2>
        <h3 class="fs-subtitle">Intial Project Details</h3>
        <input type="text" name="projectName" placeholder="Project Name" value="{{project.projectName}}"/>
        <input type="text" name="projectManager" placeholder="Project Manager Name" value="{{project.projectManager}}" autocomplete="name"/>
        <input type="tel" name="managerNum" placeholder="Contact Number" value="{{project.managerNum}}" autocomplete="mobile"/>
        <input type="email" name="email" placeholder="example@example.com" value="{{project.email}}" autocomplete="email"/>
        <input type="text" name="teamMembers" placeholder="Team Members" value="{{project.teamMembers}}"/>
        <input type="number" min="0.00" step="0.01" name="budget" placeholder="Budget" value="{{project.budget}}"/>
        <input type="email" name="approverEmail" placeholder="Approver's Email" value="{{project.approverEmail}}"/>
        <input type="button" name="next" class="next action-button" value="Next"/>
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Project Plan</h2>
      <a href="/download/templates" class="no-underline">
        <input type="button" name="templates" class="download-button" value="Download Planning Templates"/>
      </a>
      <br>
      <a href="/download/guides" class="no-underline">
        <input type="button" name="guides" class="download-button" value="Download Guides and Manuals"/>
      </a>
      <br>
      <a href="/download/suppliers" class="no-underline">
        <input type="button" name="suppliers" class="download-button" value="Download Suppliers Details"/>
      </a>
      <br>
      <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
      <input type="button" name="next" class="next action-button" value="Next"/>
    </fieldset>
    <fieldset>
        <h2 class="fs-title">Project Production</h2>
        <h3 class="fs-subtitle">Have you done the following?</h3>
        <div class="well">
          <ul id="check-list-box" class="list-group checked-list-box">
            <li class="list-group-item">Subtitles</li>
            <li class="list-group-item" data-checked="true">Anitmated UCL ident on front and end of video</li>
            <li class="list-group-item">CMA Disclaimer</li>
            <li class="list-group-item">Accurate credits</li>
            <li class="list-group-item">Accurately copyrighted music</li>
            <li class="list-group-item">UCL fonts used in GFX</li>
            <li class="list-group-item">All interviewees have signed release forms</li>
          </ul>
          <br />
          <button class="btn btn-primary col-xs-12" id="get-checked-data">Get Checked Data</button>
        </div>
        <pre id="display-json"></pre>
        <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
        <input type="button" name="next" class="next action-button" value="Next"/>
    </fieldset>
    <fieldset>
        <h2 class="fs-title">Approve and Upload</h2>
        <h3 class="fs-subtitle">I confirm that</h3>
        <ul id="check-list-box" class="list-group checked-list-box">
          <li class="list-group-item">I have completed the necessary steps</li>
          <li class="list-group-item" data-checked="true">The information provided is accurate</li>
        </ul>
        <input type="text" name="videoURL" placeholder="URL to final video" value="{{project.videoURL}}"/>
        <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
        <!--  email approver-->
        <input type="submit" class="submit submit-button" value="Submit to approver"/>
    </fieldset>
</form>
